
<link rel="stylesheet" href="/css/style.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<form method="post" action="/weather">
	Enter your location, city or zipcode: <br>
	<input type="text" name="post[location]" value="Your Location?" class="textarea" />
	<input type="submit" name="search" value="Forcast me!" class="button"/>
</form>

