body {
	background-image: url(/img/rainy.png);
	background-size: cover;
	background-repeat:no-repeat;
	display:block;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:35px;
	position:absolute;
	top: 70%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
}