body {
	background-image: url(/img/map.png);
	background-size: cover;
	background-repeat:no-repeat;

}
form {
	display:inline-block;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:45px;
	font-weight:bold;
	color:white;
	position:absolute;
	top: 60%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;


}
input {
	font-family: 'Montserrat', sans-serif;
	font-size:25px;
	color:#a0a6a2;
	width:335px;
	height:50px;
	line-height: 10px;
}
.button {
	width:120px;
	height:60px;
	font-size:13.5px;
	color:#61af9d;
	background-color:#97e1d0;
	line-height:10px;
}
